<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Error</title>
</head>
<body>
EXCEPTION: {{err}}<br>
------------------------<br>
Error attempting this action.  Make sure:<br>
<ul>
    <li>vManage is reachable from this server.
    <li>Your vManage IP or Name is correct (do not include "https://", etc.)
    <li>Your credentials have Read and Write API privileges
</ul>
<a href="/">Edit vManage settings</a>'
</body>
</html>