<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vManager Menu</title>
</head>
<body>
<h1 style="margin-top: 30px;
  margin-left: 80px;">
    Logged into: {{vmanage}}</h1>
<p style="margin-left: 80px;"><a href="/">Change vManage</a></p>
<br>
<ul style="margin-top: 30px;
  margin-left: 80px;">
    <li style="margin-bottom: 10px;"><b>List Edges</b>
        <form action="/listedges">
        <i>Filter: </i>Device Type - <select name="model">
            {{models}}
        </select>
        Configuration Mode - <select name="mode">
                <option label="all">all</option>
                <option label="vmanage">vmanage</option>
                <option label="cli">cli</option>
        </select>
            <input type="submit" value="Submit">
        </form></li>
    <li style="margin-bottom: 10px;"><b>List Templates</b>
        <form action="/listtemplates">
        <i>Filter: </i>Device Type - <select name="model">
            {{models}}
        </select>
            <input type="submit" value="Submit">
        </form></li>
    <li style="margin-bottom: 10px;"><b>Deploy a new Edge</b>
        <form action="/deployedge">
        <i>Filter: </i>Device Type - <select name="model">
            {{models}}
        </select>
            <input type="submit" value="Submit">
        </form></li>
    <li style="margin-bottom: 10px;"><b>Change an Edge setting</b>
        <form action="/editedge">
        <i>Filter: </i>Device Type - <select name="model">
            {{models}}
        </select>
            <input type="submit" value="Submit">
        </form></li>
    <li style="margin-bottom: 10px;"><b>RMA an Edge</b>
        <form action="/rmaedge">
        <i>Filter: </i>Device Type - <select name="model">
            {{models}}
        </select>
            <input type="submit" value="Submit">
        </form></li>
</ul>
</body>
</html>